.win,
.loss {
    /* ... tus estilos actuales ... */
    display: flex;
    align-items: center;
    justify-content: center;

}

.champion-win-rate-text {
    /* Estilos adicionales para el texto dentro de las barras */
    color: white; /* O el color que prefieras */
}

.role-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    /* Añade margen a la izquierda */
}

.team-logo {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-left: 10px;
    /* Añade margen a la izquierda */
}

.profile-info-new > div {
    margin-bottom: 15px;
    /* Añade más espacio entre los bloques de información */
}

.player-img-container {
    display: inline-block;
    /* Asegura que el contenedor sea en línea */
    width: 180px;
    /* Tamaño del contenedor */
    height: 180px;
    /* Tamaño del contenedor */
    background-color: white;
    /* Fondo blanco */
    border-radius: 50%;
    /* Forma circular */
    padding: 5px;
    /* Espacio entre el borde del contenedor y la imagen */
    box-sizing: border-box;
    /* Asegura que el padding no afecte el tamaño final del contenedor */
}

.player-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* Forma circular */
    object-fit: cover;
    /* Asegura que la imagen cubra completamente el contenedor */
}

.player-profile-history-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contador-contenedor {
    margin-right: 10px;
}

.player-profile-history-team {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.team-duration {
    margin-left: 10px;
}

.player-profile-statistics .datos {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    color: #333;
    margin-bottom: 10px;
}

.subrayado {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    /* Espacio para el subrayado */
}

.subrayado::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #e44445;
    /* Color rojo para el subrayado */
}

.team-history-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* Espacio entre los items del historial */
}

.team-history-item img.team-logo {
    margin-right: 10px;
    /* Espacio entre el logo y el número/fecha */
}

.team-history-dates {
    margin-left: 10px;
    /* Espacio entre el logo y las fechas */
}
.champion-photo {
    border-radius: 5px;
    object-fit: cover;
}
.champion-win-rate {
    width: 50px !important;
    height: 50px !important;
}
.favorite-player {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px; /* Añade un margen en la parte inferior para separar los jugadores */
}

.player-text {
    margin-right: auto; /* Empuja todo lo que está a la derecha hacia el extremo derecho */
    display: flex;
    flex-direction: column; /* Organiza los elementos (nick, nombre y apellido) en columna */
}

.choose-favorite-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    /* Resto de estilos */
}

.choose-favorite-checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
    /* Resto de estilos */
}
.fan-item{
    margin-top: 20px;
}
.champion-container {
    position: relative;
    width: 100%;
    height: auto; /* Ajusta esto según tus necesidades */
}

.champion-photo-container {
    position: relative;
}

.champion-photo {
    width: 100%;
    height: 180px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    border-radius: 5px;
    object-position: center top;
    filter: brightness(50%);
}



.champion-name {
    position: absolute;
    bottom: 10px; /* Ajusta esto según tus necesidades */
    left: 10px; /* Ajusta esto según tus necesidades */
    color: white; /* Color del texto */
    font-size: 20px; /* Tamaño del texto */
    font-weight: bold;
}


.fan-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.fan-info {
    display: flex;
    flex-direction: column;
}



.fan-name-bio {
    display: flex;
    flex-direction: column;
}
.team-profile-card-custom {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Añadido para alinear imagen e información */
    padding: 10px;
    align-items: center;
    /* Alinea verticalmente */
}

.team-profile-img-custom {
    width: auto;
    /* Ajuste para controlar el tamaño de la imagen */
    height: 120px;
    /* Altura fija para la imagen */
    object-fit: cover;
    /* Asegúrate de que la imagen cubra el área sin estirarse */
    margin-right: 10px;
    /* Espacio a la derecha de la imagen */
    border-radius: 50%;
    /* Hace que la imagen sea redonda */
}

.team-profile-body-custom {
    text-align: left;
    /* Texto alineado a la izquierda */
}

.team-profile-title-custom {
    font-size: 1.2rem;
    /* Ajusta el tamaño del título */
    color: #333;
    /* Color del título */
}

.team-profile-text-custom {
    font-size: 1rem;
    /* Ajusta el tamaño del subtítulo */
    color: #666;
    /* Color del subtítulo */
}

.team-profile-role-icon-custom {
    width: 40px;
    /* Ajusta al tamaño deseado */
    height: 40px;
    object-fit: contain;
    /* Mantiene las proporciones sin recortar la imagen */
    margin-left: 10px;
    /* Espacio a la izquierda del icono */
}



/* Nuevo estilo para la sección de roster */
.roster-section {
    padding: 20px;
}

.player-item-year {
    display: flex;
    /* Alinea los elementos en una fila */
    align-items: center;
    /* Alinea verticalmente */
    margin-bottom: 15px;
    /* Espacio entre cada jugador */
    padding: 10px;
    /* Espacio dentro de cada elemento de jugador */
    background-color: #f9f9f9;
    /* Fondo claro para cada jugador */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.player-info {
    flex-grow: 1;
    /* Permite que el contenedor de información ocupe todo el espacio disponible */
    margin-right: 10px;
    /* Espacio a la derecha de la información */
}
.serie {
    transition: transform 0.3s ease;
}

.serie:hover {
    transform: scale(1.01); /* Cambia esto al color que prefieras */
}
