.container-car {
    display: flex;
    justify-content: center;
    width: 100%;
}
.offcanvas {
    background-color: #000; /* Negro */
}

/* Si quieres también cambiar el color del texto dentro del sidebar */
.offcanvas .navbar-nav .nav-link {
    color: #fff; /* Blanco */
}

/* Opcional: Si quieres cambiar el color del fondo de los elementos al pasar el mouse */
.offcanvas .navbar-nav .nav-link:hover {
    background-color: #60df0b; /* Un gris oscuro para el efecto hover */
}
.inner {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.inner img {
    height: auto !important;
    width: 50% !important;
}
.series-selector {
    background-color: #c7c4c4; /* Un poco más oscuro que el blanco humo */
    border-radius: 50%; /* Hace que el div sea redondo */
    width: 120px; /* Ancho del div */
    height: 120px; /* Altura del div */
    display: flex; /* Centra el logo */
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease; /* Hace que la sombra de la caja se ilumine un poco más al pasar el cursor sobre ella */
}

.series-selector:hover {
    background-color: #d3d3d3;
}

.series-selector img {
    max-width: 100px; /* Ancho máximo del logo */
    max-height: 100px; /* Altura máxima del logo */
}

.series-selector h5 {
    font-family: "mol"; /* Fuente del nombre de la competición */
    color: black; /* Color del nombre de la competición */
    text-decoration: none; /* Elimina el subrayado del nombre de la competición */
    text-align: center; /* Centra el nombre de la competición */
}

a {
    text-decoration: none; /* Elimina el subrayado de todos los enlaces */
}


.año {
    color: #e44445; /* Color del año */
    font-weight: bold; /* Año en negrita */
    font-family: "mol";
    border-bottom: 1px solid lightgray; /* Separador de color gris claro debajo del año */
    margin-left: 15%; /* Margen izquierdo externo del 15% */
    margin-right: 15%; /* Margen derecho externo del 15% */
    padding-left: 15px; /* Añade un margen izquierdo interno de 15px */
    padding-right: 15px; /* Añade un margen derecho interno de 15px */
}
.titulo{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom:80px;
    border-bottom: 1px solid lightgray; /* Separador de color gris claro debajo del año */

}
.result {
    font-size: 2em;
    font-family: 'mol';
}
a {
    color: inherit;  /* hereda el color del texto del elemento padre */
    text-decoration: none;  /* elimina el subrayado */
}

a:hover {
    color: inherit;
    text-decoration: none;
}


.regular-split .result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regular-split .separator {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 1em 0;
}
.result-content > * {
    margin: 0 4em;
}
