@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
}

.table_crud_admin th,
.table_crud_admin td {
    padding: 2rem 3rem; /* cambiar esto para que no tenga tanto espacio*/
}

.table_crud_admin thead th {
    vertical-align: bottom;
    /*border-bottom: 2px solid #dee2e6;*/
}

.label-crud {
    font-size: 1.5em;
}
.navbar {
    height: 120px; /* Ajusta esto a la altura que desees */
}

.navbar {
    background-color: #fffcdc!important; /* Establece el color de fondo del navbar */
}

.nav-link{
    font-family: "Pixel2_5" !important; /* Aplica la fuente a los enlaces del navbar */
    font-size: 25px !important;
}
body {
    padding-top: 60px; /* Esto debe ser igual a la altura del navbar */
}

/*para el login*/
/* Cambiar el color de fondo del formulario */

.input-crud {
    width: 100%;
    padding: 10px;
    border: 2px solid #e44445 !important;
    border-radius: 15px;
}
.btn:hover {
    background-color: #e44445 !important;
    color: white !important;
}
